# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
python-controller/env/
python-controller/build/
python-controller/develop-eggs/
python-controller/dist/
python-controller/downloads/
python-controller/eggs/
python-controller/.eggs/
python-controller/lib/
python-controller/lib64/
python-controller/parts/
python-controller/sdist/
python-controller/var/
python-controller/*.egg-info/
python-controller/.installed.cfg
python-controller/*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
python-controller/*.manifest
python-controller/*.spec

# Installer logs
python-controller/pip-log.txt
python-controller/pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# IDEA
.idea
*.iml
*.ipr
*.iws

#MAC
.DS_Store
.directory

### Maven template
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

